
.App-header {
    background-color: #282c34;
    position: fixed;
}

.App-header-internal {
    height: 80px;
    width: 100vw;
}

.one-pager-link {
    padding-top: 30px;
    display: block;
    width: fit-content;
    margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
    .one-pager-link {
        animation: bounce-link infinite 3s ease-in-out;
    }
}

@keyframes bounce-link {
  0%, 60%, 100% {
    transform: translateY(0);
  }
  
  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translateY(6px);
  }
}
